

body{
  font-family: Arial, Helvetica, sans-serif;
}


#root {
  display: flex;
  flex-wrap: wrap;
justify-content: space-evenly;}

.epCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
    border: 4px solid #ffffffc6;
    border-radius: 5px;
    margin: 10px 0px 30px 0px;
       background: linear-gradient(230deg, #e38cbf, #298bb4);
    background-size: 100% 130%;
    
}

.epCard:hover{
    border: 4px solid #e38cd6;
    /* transition: all 0.5s ease-out; */
}

h2{
  background-color:#ffffff6e;
    width: inherit;
    /* height: 29px; */
    /* margin: auto; */
    text-align: center;
    padding: 20px 0px 20px 10px;
}

.summary{
  padding: 0px 30px 0px 30px;
}

a{
  color: #000;
}

a:hover {
  color: rgb(235, 217, 215);
}

footer{
text-align: center;
}

footer a:hover{
  color: salmon;
}